name: CICDPractical

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Sonar Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: Build and Analyze
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=viveklohakare \
            -Dsonar.organization=viveklohakare \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cicd-service-jar
          path: target/*.jar